* {
    margin: 0;
    padding: 0;
}

.blog-post {
    width: 100%;
    margin: auto;
}

.figure-info {
    width: 100%;
}

.figure-info h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.figure-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.article-figure {
    width: 100%;
    text-align: center;
}

.article-figure img {
    width: 100%;
}

.article-figure figcaption {
    padding: 0px 20px;
    font-family: arial;
    font-style: italic;
}

@media only screen and (min-width: 1000px) {
    .blog-post {
        width: 1000px;
    }

    .figure-info {
        width: 50%;
        float: right;
    }

    .article-figure {
        padding: 30px 0px;
        width: 50%;
        float: left;
    }
}