* {
    margin: 0;
    padding: 0;
}

.blog-post {
    width: 100%;
}

.figure-info {
    width: 100%;
}

.figure-info h2 {
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}

.figure-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

.article-figure {
    width: 100%;
}

.article-figure img {
    width: 100%;
}

.article-figure figcaption {
    padding: 0px 20px;
    font-family: arial;
    font-style: italic;
}